<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Index</title>
  </head>
  <body>
    <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <h1 class="display-4">Welcome to School</h1>
            <p class="lead">updating and publicing marksheet</p>
            <p>We are currently making some improvements to our website!</p>
            <a href="admin/" class="btn btn-primary" id="notify-me">Upload Marks</a>
            <a  href="student/" class="btn btn-success" id="notify-me">Check Result</a>
          </div>
        </div>
      </div>
  </body>
</html>